body {
  background: #f5e4b4;
}

.logo {
  width: 30px;
}

h1,
p,
footer {
  text-align: center;
}

.creampuffPicture {
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

.contactLink {
  text-decoration: none;
  color: #ebb368;
}

.link {
  margin: 0 10px;
  color: #d28540;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
